body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: linear-gradient(120 deg, #7d0c43, #1e1d1d);
}

header {
    background-color: #200107;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #000204;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
}

nav a:hover {
    color: #a53ce2;
}

section {
    padding: 20px;
}

article {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

footer {
    background-color: #1e1d1d;
    color: white;
    text-align: center;
    padding: 15px;
}
h2,h3{
    color: white;
}
